<?php

$fileHeaderComment = <<<COMMENT
This file is part of the pd-admin pd-user package.

@package     pd-user
@license     LICENSE
@author      Kerem APAYDIN <kerem@apaydin.me>
@link        https://github.com/appaydin/pd-user
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both', 'commentType' => 'PHPDoc'],
        'linebreak_after_opening_tag' => true,
        'mb_str_functions' => true,
        'no_php4_constructor' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'php_unit_strict' => true,
        'phpdoc_order' => true,
        'semicolon_after_instruction' => true,
        'strict_comparison' => true,
        'strict_param' => true,
        'blank_line_after_namespace' => true,
        'class_definition' => true,
        'multiline_comment_opening_closing' => true,
        'single_line_comment_style' => true,
        'single_blank_line_before_namespace' => true,
        'phpdoc_trim' => true,
        'no_extra_consecutive_blank_lines' => true
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__.'.php_cs.cache')
;
